@import url("./reset.css");

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.admin-password {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

.error {
  color: red;
}

button {
  background-color: #2a0000;
  color: rgb(209, 143, 20);
  border: none;
  font-weight: bold;
  padding: 5px 15px;
}

nav {
  display: flex;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #2a0000;
  color: white;
}

nav .status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status h1 {
  font-size: clamp(1rem, 2.5vw, 1.6rem);
}

.status svg {
  width: clamp(1rem, 2.5vw, 1.6rem);
}

nav d nav ul {
  display: flex;
}
li {
  list-style: none;
}

nav a,
nav p {
  color: rgb(209, 143, 20);
  font-weight: bold;
}

h1 a {
  color: white;
}

.container {
  min-height: calc(100vh - 65px);
  padding: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.card {
  border: 1px solid gray;
  display: grid;
  padding: 1rem;

  gap: 1rem;
}

.details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  font-size: 2.5rem;
}

.person {
  width: 3rem;
}

.name,
.title {
  font-weight: bold;
}

.timestamp,
.message {
  font-size: 0.8rem;
}

.bottom-nav {
  position: fixed;
  width: 150px;
  height: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 10px;
  border-radius: 100px;
  background-color: #2a0000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

svg {
  fill: rgb(209, 143, 20);
  border-radius: 50%;
}

.verified {
  fill: #75fb4c;
}

.authenticated {
  fill: white;
}

.signup-container form,
.login-container form,
.post-container form,
.membership-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.admin-password input {
  display: block;
  width: 100%;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 700px) {
  .container,
  nav {
    padding: 2rem 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .container,
  nav {
    padding: 2rem 20rem;
  }
}
