<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <% if(locals.currentUser) {%>
    <h1>Hey! <%= currentUser.firstname %></h1>
    <% if (locals.currentUser.isadmin) { %>
    <h2>You're an admin</h2>
    <% } %>
    <a href="/logout">Logout</a>
    <% } else { %>
    <h1>You're not login</h1>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <% } %>
  </body>
</html>
