<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <% if(locals.currentUser) {%>
    <h1>Hey! <%= currentUser.firstname %></h1>
    <%- include("../components/showAllPosts.ejs", {showDetails:
    locals.currentUser.isadmin || locals.currentUser.ismember, showDelete:
    locals.currentUser.isadmin}) %>

    <a href="/post">post</a>
    <a href="/logout">Logout</a>
    <% } else { %>
    <h1>You're not login</h1>
    <%- include("../components/showAllPosts.ejs", {showDetails: false,
    showDelete: false}) %>

    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <% } %>
  </body>
</html>
